body {
    border: 20%;
    margin: 15%;
    padding: 30px;
}

#welcome, h1 {
    font-family:'Courier New', Courier, monospace;
    color: navy;
    font-size: 30px;
    font-weight: bold;
}
h3, h4, li{
    font-family: 'Courier New', Courier, monospace;
    color: navy;
}
li, h4 {
    font-weight: bold;
}

#templates {
    padding-top: 20px;
    color: white;
}

#create-my-own {
    padding-top: 20px;
    color: white;
}


#iphone {
    size: 30%;
    margin: auto;
}
#icon {
    width: 10%;
    height: 10%;
}
