body {
    background-color: ivory;
    border: 20%;
    margin: 20%;
    padding: 30px;
}

#welcome, h1 {
    font-family:'Courier New', Courier, monospace;
    color: navy;
    font-size: 30px;
}

#templates {
    padding: 20px;
}

#create-my-own {
    padding-top: 20px;
}
